@font-face {
  font-family: 'GoogleSansCode';
  src: url('/GoogleSansCode-VariableFont_wght.woff') format('woff');
}

@font-face {
  font-family: 'Sansation';
  src: url('/Sansation-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('/Sansation-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Sansation';
  src: url('/Sansation-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Sansation';
  src: url('/Sansation-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url('/Sansation-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Sansation';
  src: url('/Sansation-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
