@use "root";
@use "font";
@use "animation";
@use "toast";
@use "classes";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background: -webkit-linear-gradient(150deg, var(--color-primary-light) 0%, var(--color-primary) 10%, var(--color-primary-dark));
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: white;
  background: -webkit-linear-gradient(150deg, var(--color-primary) 0%, var(--color-primary-dark));
  border-radius: 1.5rem;
  padding: 0.25rem 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  &:hover {
    background-color: var(--color-primary);
  }

  &.secondary {
    background: transparent;
    box-shadow: inset 0 0 0 2px var(--color-primary-dark);
    color: var(--color-primary-dark);
  }

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px var(--color-border);
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
  width: calc(100% - 4rem);
  max-width: 48rem;
  max-height: 90vh;
  overflow-y: auto;
  animation: fade-in 0.3s ease-out;
  cursor: move;

  * {
    cursor: initial;
  }

  button {
    cursor: pointer;
  }

  &[open] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      color: var(--color-text);
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      padding: 0.5rem;
      border: 1px solid var(--color-border);
      border-radius: 0.5rem;
      font-size: inherit;
      color: var(--color-text);

      &:read-only {
        background-color: var(--color-background);
      }
    }
  }
}

label {
  font-weight: bold;
  color: var(--color-text-muted);
  letter-spacing: 0.025rem;
  font-size: 0.825rem;
  line-height: 1rem;
  text-transform: uppercase;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  font-size: inherit;
  color: var(--color-text);

  &.code {
    font-family: 'GoogleSansCode', monospace;
    font-size: 0.875rem;
    background-color: var(--color-text);
    color: #80ff80;
    white-space: pre-wrap;
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-border);
  margin: 0;
  cursor: pointer;
  display: block;
  width: 3rem;
  height: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: 0.75rem;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &::before {
    content: '';
    display: block;
    width: calc(1rem - 2px);
    height: calc(1rem - 2px);
    background-color: white;
    border-radius: calc((1rem - 2px) * 0.5);
    position: relative;
    top: 0.25rem;
    left: 0.25rem;
    transition: left 0.3s ease-in-out;
  }

  &:checked {
    background-color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);

    &::before {
      left: calc(100% - 1rem - 0.25rem);
    }
  }
}

svg.icon-button {
  border: solid 1px white;
  display: inline-block;
  max-width: 2rem;
  max-height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 50%;
  padding: 0.33rem;
  color: white;
  overflow: visible;

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

ul, table, .card, dialog {
  svg.icon-button {
    border: solid 1px var(--color-text);
    color: var(--color-text);
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary);
  background: -webkit-linear-gradient(150deg, var(--color-primary-light) 0%, var(--color-primary) 10%, var(--color-primary-dark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  svg {
    width: 2rem;
    height: 2rem;
    margin-right: 0.25rem;
    transform: translateY(0.5rem);
  }
}


main {
  padding: 1rem;
  margin: auto;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

nav {
  background-color: white;
  border-bottom: 1px solid var(--color-border);
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  animation: move-in-from-top 0.3s ease-in-out;
}

p {

  &.alert {
    color: var(--color-primary-dark);
    background-color: color-mix(in srgb, var(--color-info) 10%, transparent);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
  }
}

select {
  cursor: pointer;
  padding: 0.5rem 3rem 0.5rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  font-size: inherit;
  color: var(--color-text);
  background-color: var(--color-background);
  appearance: none;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23999" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  th, td {
    padding: 0.5rem;
    text-align: left;
    min-height: 3rem;

    &:last-child {
      padding-right: 1rem;
    }

    &:first-child {
      padding-left: 1rem;
    }

    &.number {
      text-align: right;
      font-variant-numeric: tabular-nums;
      white-space: nowrap;
    }
  }

  th {
    background-color: var(--color-background);
    font-weight: bold;
    color: var(--color-text);
  }

  tr:nth-child(even) {
    background-color: var(--color-background);
  }

  tr:first-child {

    th {

      &:first-child {
        border-top-left-radius: 0.5rem;
      }

      &:last-child {
        border-top-right-radius: 0.5rem;
      }
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--color-border);
    color: var(--color-text);
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: var(--color-background);
      cursor: pointer;
    }

    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    &:first-child {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }
}

