@use "root";
@use "font";
@use "animation";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: white;
  min-width: 950px;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: white;
  background-color: var(--pastel-blue-90);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &:hover {
    background-color: var(--pastel-blue-70);
  }

  &.secondary {
    background-color: var(--grey-30);
    color: var(--grey-90);

    &:hover {
      background-color: var(--grey-10);
      color: var(--grey-90);
    }
  }

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.button-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  button {
    flex: 1;
    height: min-content;
    white-space: nowrap;
  }
}

.circle-badge {
  width: 10rem;
  min-width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 1rem transparent;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fade-in 0.3s ease-in-out;
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  min-width: 40%;
  animation: fade-in 0.3s ease-in-out;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      color: var(--grey-90);
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      padding: 0.5rem;
      border: 1px solid var(--grey-30);
      border-radius: 0.5rem;
      font-size: inherit;
      color: var(--grey-90);

      &:read-only {
        background-color: var(--grey-10);
      }
    }

    button {
      margin-top: 1rem;
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
    color: var(--grey-90);
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    padding: 0.5rem;
    border: 1px solid var(--grey-30);
    border-radius: 0.5rem;
    font-size: inherit;
    color: var(--grey-90);

    &.code {
      font-family: 'GoogleSansCode', monospace;
      font-size: 0.875rem;
      background-color: var(--grey-90);
      color: #80ff80;
      white-space: pre-wrap;
    }
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--grey-30);
    margin: 0;
    cursor: pointer;
    display: block;
    width: 3rem;
    height: 1.5rem;
    border: 1px solid var(--grey-30);
    border-radius: 0.75rem;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    &::before {
      content: '';
      display: block;
      width: calc(1rem - 2px);
      height: calc(1rem - 2px);
      background-color: white;
      border-radius: calc((1rem - 2px) * 0.5);
      position: relative;
      top: 0.25rem;
      left: 0.25rem;
      transition: left 0.3s ease-in-out;
    }

    &:checked {
      background-color: var(--pastel-blue-90);
      border-color: var(--pastel-blue-90);

      &::before {
        left: calc(100% - 1rem - 0.25rem);
      }
    }
  }
}

svg.icon-button {
  border: solid 1px var(--grey-90);
  display: inline-block;
  max-width: 2rem;
  max-height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 50%;
  padding: 0.33rem;
  color: var(--grey-90);
  overflow: visible;

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--pastel-blue-70);

  svg {
    width: 2rem;
    height: 2rem;
    margin-right: 0.25rem;
    transform: translateY(0.5rem);
  }
}

.horizontal {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  &.center {
    align-items: center;
  }

  &.stretch {
    align-items: stretch;
  }
}

main {
  padding: 1rem;
  margin: auto;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

nav {
  background-color: var(--grey-10);
  border-bottom: 1px solid var(--grey-30);
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  animation: move-in-from-top 0.3s ease-in-out;
}

p {

  &.alert {
    color: var(--pastel-blue-90);
    background-color: var(--pastel-blue-10);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
  }
}

select {
  cursor: pointer;
  padding: 0.5rem 3rem 0.5rem 1rem;
  border: 1px solid var(--grey-30);
  border-radius: 0.5rem;
  font-size: inherit;
  color: var(--grey-90);
  background-color: white;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23999" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  th, td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid var(--grey-30);
    min-height: 3rem;
    animation: fade-in 0.3s ease-in-out;

    &:last-child {
      border-right: 1px solid var(--grey-30);
    }

    &:first-child {
      border-left: 1px solid var(--grey-30);
    }

    &.number {
      text-align: right;
      font-variant-numeric: tabular-nums;
      white-space: nowrap;
    }
  }

  th {
    background-color: var(--grey-10);
    font-weight: bold;
    color: var(--grey-90);
  }

  tr:nth-child(even) {
    background-color: var(--grey-10);
  }

  tr:first-child {

    th, td {
      border-top: 1px solid var(--grey-30);

      &:first-child {
        border-top-left-radius: 0.5rem;
      }

      &:last-child {
        border-top-right-radius: 0.5rem;
      }
    }
  }
}

#toast-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  transition: height 0.3s ease-in-out;

  .toast {
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem;
    animation: move-in-from-right 0.3s ease-out;

    &.error {
      background-color: var(--pastel-red-70);
    }

    &.success {
      background-color: var(--pastel-green-70);
    }

    &.info {
      background-color: var(--pastel-blue-70);
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--grey-30);
    color: var(--grey-90);
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: var(--grey-10);
      cursor: pointer;
    }

    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    &:first-child {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    &.active {
      background-color: var(--pastel-blue-10);
      font-weight: bold;
      color: var(--pastel-blue-90);
    }
  }
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.center {
    align-items: center;
  }

  &.stretch {
    align-items: stretch;
  }
}

