:root {
  font-family: Sansation, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: var(--grey-90);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pastel-blue-10: #e0f7ff;
  --pastel-blue-30: #80d4ff;
  --pastel-blue-50: #1fb1ff;
  --pastel-blue-70: #007099;
  --pastel-blue-90: #004266;

  --pastel-green-10: #e8ffe8;
  --pastel-green-30: #80ff80;
  --pastel-green-50: #1fff1f;
  --pastel-green-70: #008000;
  --pastel-green-90: #004d00;

  --pastel-yellow-10: #ffffe0;
  --pastel-yellow-30: #ffff80;
  --pastel-yellow-50: #ffff1f;
  --pastel-yellow-70: #999900;
  --pastel-yellow-90: #666600;

  --pastel-pink-10: #ffe0f0;
  --pastel-pink-30: #ff80c0;
  --pastel-pink-50: #ff1f80;
  --pastel-pink-70: #99004d;
  --pastel-pink-90: #660033;

  --pastel-purple-10: #f0e0ff;
  --pastel-purple-30: #c080ff;
  --pastel-purple-50: #801fff;
  --pastel-purple-70: #4d0099;
  --pastel-purple-90: #330066;

  --pastel-orange-10: #fff0e0;
  --pastel-orange-30: #ffc080;
  --pastel-orange-50: #ff801f;
  --pastel-orange-70: #994d00;
  --pastel-orange-90: #663300;

  --pastel-red-10: #ffe0e0;
  --pastel-red-30: #ff8080;
  --pastel-red-50: #ff1f1f;
  --pastel-red-70: #990000;
  --pastel-red-90: #660000;

  --grey-5: #f7f7f7;
  --grey-10: #efefef;
  --grey-50: #97a2a8;
  --grey-70: #75838a;
  --grey-90: #2f2f2f;
}
